{% extends "inicio/encabezado.html" %}

{%block titulo%} PRINCIPAL {%endblock%}

{% block encabezado%}

    <!--Encabezdo -->
    <div class="page-header">
        <div class="page-title">
            <h3>COMENTARIOS
            <small>Lista de Comentarios</small></h3>
        </div>

        
    </div>
    <!-- /Encabezado-->

{%endblock%}

{% block contenido %}
<!-- Contenido Principal-->


    <!--Tabla de Alumnos-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Mensaje</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comentario in comentarios %}

                <tr>
                    <td class="text-semibold">{{comentario.usuario}}</td>
                    <td class="muted">{{comentario.mensaje}}</td>
                    <td class="text-center">
                        <a href="{%url 'Eliminar' comentario.id%}">Eliminar</a>
                    </td>
                    <td class="text-center">
                        <a href="{%url 'Editar' comentario.id%}">Editar</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <!-- /Tabla de alumnos -->



<!-- /Contenido Principal-->
{%endblock%}